<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/Cleaning_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Cleaning A DataFrame

In [1]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

 Clean up the column names in the dataframe df1. Get rid of notes, parentheticals and spaces.

In [2]:
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

In [7]:
import re

re.sub(r"\D","",df1.iloc[0,3])

'290297'

In [8]:
df1 = df1.rename(columns=lambda x: re.sub('[\(\[].*?[\)\]]', '', x.capitalize()))
df1.head()

  Rank  ...                 Country
0    1  ...               NepalChina
1    2  ...  Pakistan[dp 8]China[12]
2    3  ...               NepalIndia
3    4  ...               NepalChina
4    5  ...               NepalChina

[5 rows x 13 columns]

Cleaning the last column country

In [9]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country , Length: 120, dtype: object

In [26]:
country = re.sub('[\(\[].*?[\)\]]', '', str(df1["Country "]))
country = re.sub('[\n]', '', country)
country = re.sub('[\d-]','', country)
country = country[1:]
country = country.replace(',', ' ')
country

"                           NepalChina               PakistanChina                            NepalIndia                            NepalChina                            NepalChina                     ...                                              China                          NepalChina                  BhutanChina    IndiaChina'                      PakistanName: Country   Length:   dtype: object"

Cleaning the last column country was really hard for me to do. I am not sure if I did the right thing.