<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/Data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data  types

In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/bank.csv')
df.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

Data types

In [3]:
print(type(df['age'][0]))

<class 'numpy.int64'>

There is no need to change the data type of the column.

In [4]:
print("job: ",type(df['job'][0]))
print("education: ",type(df['education'][0]))

job:  <class 'str'>
education:  <class 'str'>

The marital, education, housing and loan column can be boolean. I will work on the marital column.

In [6]:
df.marital == 'single'

0       False
1       False
2        True
3       False
4       False
        ...
4516    False
4517    False
4518    False
4519    False
4520     True
Name: marital, Length: 4521, dtype: bool

In [7]:
df.marital == 'married'

0        True
1        True
2       False
3        True
4        True
        ...
4516     True
4517     True
4518     True
4519     True
4520    False
Name: marital, Length: 4521, dtype: bool

I can not really say somethinng interesting about this dataset. Most of the  columns were boolean and it's interesting to know that the month column was in strings.