<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATES

In [1]:
import pandas as pd
from pandas._libs.tslibs.timedeltas import Timedelta
df = pd.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')
df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

*Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

In [3]:
df.dtypes

id                    object
room_id/id            object
noted_date    datetime64[ns]
temp                   int64
out/in                object
dtype: object

In [6]:
pd.to_datetime(df.noted_date, format='%m/%d/%Y')

0       2018-12-08 09:30:00
1       2018-12-08 09:30:00
2       2018-12-08 09:29:00
3       2018-12-08 09:29:00
4       2018-12-08 09:29:00
                ...
97601   2018-07-28 07:07:00
97602   2018-07-28 07:07:00
97603   2018-07-28 07:06:00
97604   2018-07-28 07:06:00
97605   2018-07-28 07:06:00
Name: noted_date, Length: 97606, dtype: datetime64[ns]

*What is the minimum and maximum date and time?

In [7]:
print("min: ", min(df.noted_date))
print("max: ",max(df.noted_date))

min:  2018-07-28 07:06:00
max:  2018-12-08 09:30:00

*What is the largest interval inbetween temperature checks?

In [15]:
differenceInT =  df.in - Out

differenceInT.describe()

SyntaxError: ignored

I do not think it's possible to calculate the largest interval between temperature checks. I might be wrong

*What is the average datetime?

In [16]:
times = pd.DataFrame(df.noted_date)
times['noted_date'] = pd.to_datetime(times['noted_date']).dt.time
times.columns = ['noted_time']
times['noted_time'] = pd.to_datetime(times.noted_time, format = '%H:%M:%S')
times['noted_time'].mean()

Timestamp('1900-01-01 12:30:21.953363712')

*What was the average outside temperature on '09-11-2018'?

In [18]:
from statistics import mean

In [20]:
SpecDate = df.loc[df['noted_date'] == '2018-11-09']
SpecDate = df.loc[df['out/in'] == 'Out']
mean(SpecDate['temp'])

36.265243784056636