<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/SQL_JOINS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Joins

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I will be working on joins in this project.

In [2]:
%%bigquery --project tobahodataviz

SELECT name, property_type
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT 50

                                                 name property_type
0                                          Pease Park          None
1                                     Republic Square          None
2                                    Waller & 6th St.          None
3                     Bullock Museum @ Congress & MLK          None
4                     State Capitol @ 14th & Colorado          None
5                             ACC - Rio Grande & 12th          None
6                            ACC - West & 12th Street          None
7               Republic Square @ Guadalupe & 4th St.          None
8                                    5th & San Marcos          None
9                                   Rainey @ River St          None
10                            Toomey Rd @ South Lamar          None
11                         East 7th & Pleasant Valley          None
12                            OFFICE/Main/Shop/Repair          None
13                                 6th & Navasota St.          None
14                                    8th & Guadalupe          None
15                            Red River & LBJ Library          None
16               State Parking Garage @ Brazos & 18th          None
17                                   Zilker Park West          None
18                                       Lavaca & 6th          None
19                                       Nueces @ 3rd          None
20                         Barton Springs & Riverside
21                                     Boardwalk West      parkland
22                            Congress & Cesar Chavez      parkland
23                                Barton Springs Pool      parkland
24                               Riverside @ S. Lamar      parkland
25                                        Zilker Park      parkland
26                               Rainey St @ Cummings      parkland
27                                     13th & Trinity      sidewalk
28                              22nd 1/2 & Rio Grande      sidewalk
29                East 5th/Shady @ Eastside Bus Plaza      sidewalk
30                           South Congress & Academy      sidewalk
31                                     8th & Congress      sidewalk
32                                       Lavaca & 6th      sidewalk
33                  Capitol Station / Congress & 11th      sidewalk
34                                       8th & Lavaca      sidewalk
35                             South Congress & James      sidewalk
36                        Barton Springs @ Kinney Ave      sidewalk
37                               Trinity & 6th Street      sidewalk
38                                     6th & Congress      sidewalk
39                               21st & Speedway @PCL      sidewalk
40                   23rd & San Jacinto @ DKR Stadium      sidewalk
41                                 11th & San Jacinto      sidewalk
42                  Convention Center / 3rd & Trinity      sidewalk
43                             Red River & 8th Street      sidewalk
44                                     Plaza Saltillo      sidewalk
45                Long Center @ South 1st & Riverside      sidewalk
46  State Capitol Visitors Garage @ San Jacinto & ...      sidewalk
47                  Republic Square @ 5th & Guadalupe      sidewalk
48  South Congress & Barton Springs at the Austin ...      sidewalk
49                       Lake Austin Blvd @ Deep Eddy      sidewalk

In [3]:
%%bigquery --project tobahodataviz

with table as (
  SELECT *
  FROM bigquery-public-data.austin_bikeshare.bikeshare_stations
  INNER JOIN bigquery-public-data.austin_bikeshare.bikeshare_trips
  ON bikeshare_stations.name = bikeshare_trips.start_station_name
)

SELECT name AS Name, property_type AS PropertyType, AVG(duration_minutes) AS AveDurationMin
FROM table
GROUP BY name, property_type
ORDER BY PropertyType

                               Name          PropertyType  AveDurationMin
0                  Zilker Park West                  None       27.168259
1           Toomey Rd @ South Lamar                  None       28.115798
2   State Capitol @ 14th & Colorado                  None       30.421842
3                  Waller & 6th St.                  None       23.265843
4                        Pease Park                  None       28.648889
..                              ...                   ...             ...
91                21st & University  undetermined_parking       18.341927
92                East 4th & Chicon  undetermined_parking       31.429918
93                   West & 6th St.  undetermined_parking       28.106093
94        East 6th & Pedernales St.  undetermined_parking       32.332959
95                    Nueces & 26th  undetermined_parking       16.805353

[96 rows x 3 columns]

I have joined the property type table and the average duration minutes table. Now I am going to check if the average time on trips starting from 'parkland' is longer than trips starting from 'sidewalks'

In [4]:
%%bigquery --project tobahodataviz
with q as (
  with table as (
   SELECT *
   FROM bigquery-public-data.austin_bikeshare.bikeshare_stations
   INNER JOIN bigquery-public-data.austin_bikeshare.bikeshare_trips
   ON bikeshare_stations.name = bikeshare_trips.start_station_name
  )

  SELECT name AS Name, property_type AS PropertyType, AVG(duration_minutes) AS AveDurationMin
  FROM table
  GROUP BY name, property_type
  ORDER BY PropertyType
)
SELECT PropertyType, AVG(AveDurationMin) AS AveDurationMin
FROM q
GROUP BY PropertyType

           PropertyType  AveDurationMin
0                  None       27.089831
1  undetermined_parking       27.066346
2              sidewalk       34.582067
3    nonmetered_parking       50.633040
4          paid_parking       30.478807
5              parkland       39.996877
6                             33.502832

According to the table above, the trips from parkland were longer than the trips from sidewalk.