<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/SQL_with_BIQquery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Learning SQL with BIQquery**

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I got my account auntheticated. Now I am going to work with the Austin bike share trips.

In [3]:
%%bigquery --project tobahodataviz
SELECT 
  COUNT(*) as total_rows
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   total_rows
0     1424786

In [14]:
%%bigquery --project tobahodataviz
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 100

       trip_id  ... duration_minutes
0   9900289692  ...               39
1   9900285987  ...               31
2   9900285989  ...               31
3   9900285991  ...               30
4   9900286140  ...               19
..         ...  ...              ...
95  9900290499  ...               11
96  9900290570  ...               23
97  9900290601  ...               18
98  9900290615  ...               17
99  9900290636  ...               25

[100 rows x 9 columns]

In [16]:
%%bigquery --project tobahodataviz
SELECT 
  max(duration_minutes)
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

     f0_
0  34238

I had a little bit of difficulty here. Just a tiny bit. Since I am making use of a different data set, I was confused on what to use as my average. Then i remembered 'Select' picks the column I want in the data table, and that's how I figured it out. I selected the column "duration_minutes. 
The question says "we should compute the longest trip from duration_minutes. I was not really sure so I just made use of "max(duration_minutes).

In [18]:
%%bigquery --project tobahodataviz
SELECT 
  AVG(duration_minutes)
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

         f0_
0  30.870428

In [17]:
%%bigquery --project tobahodataviz
SELECT AVG(duration_minutes) as average_start_station_id
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips` as table

   average_start_station_id
0                 30.870428

I was expecting to see a difference in the number but there was none. Actually there shouldn't be any difference since I am still calculating the 'average' and I am making use of the same column.

This was actually a fun project to work on.