<a href="https://colab.research.google.com/github/Tobaho/Tobaho.github.io/blob/main/SQL_subqueries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**SQL SUBQUERIES**

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

I am still making use of the Austin bike share trip data set.

In [2]:
%%bigquery --project tobahodataviz
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 100

       trip_id  ... duration_minutes
0   9900289692  ...               39
1   9900285987  ...               31
2   9900285989  ...               31
3   9900285991  ...               30
4   9900286140  ...               19
..         ...  ...              ...
95  9900290499  ...               11
96  9900290570  ...               23
97  9900290601  ...               18
98  9900290615  ...               17
99  9900290636  ...               25

[100 rows x 9 columns]

In [9]:
%%bigquery --project tobahodataviz

SELECT COUNT(*) as number_trips, start_station_name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY start_station_name
ORDER BY number_trips DESC

     number_trips        start_station_name
0           72799      21st & Speedway @PCL
1           40635      Riverside @ S. Lamar
2           36520  City Hall / Lavaca & 2nd
3           35307            2nd & Congress
4           34758      Rainey St @ Cummings
..            ...                       ...
188             4           Marketing Event
189             2             Eeyore's 2018
190             1                    Stolen
191             1             Eeyore's 2017
192             1     cesar Chavez/Congress

[193 rows x 2 columns]

In [10]:
%%bigquery --project tobahodataviz

with t as (
  SELECT start_station_name AS Startingname, COUNT(start_station_name) AS numbertimes
  FROM bigquery-public-data.austin_bikeshare.bikeshare_trips
  GROUP BY Startingname
  ORDER BY numbertimes DESC
  LIMIT 2
)

SELECT Startingname, numbertimes
FROM t
ORDER BY numbertimes ASC
LIMIT 1

           Startingname  numbertimes
0  Riverside @ S. Lamar        40635

Riverside @S.Lamar has shown to be the second most popular station.

In [12]:
%%bigquery --project tobahodataviz

SELECT start_station_name, duration_minutes
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
WHERE start_station_name = end_station_name
LIMIT 100

                 start_station_name  duration_minutes
0           Toomey Rd @ South Lamar                31
1           Toomey Rd @ South Lamar                31
2           Toomey Rd @ South Lamar                30
3   State Capitol @ 14th & Colorado                19
4   State Capitol @ 14th & Colorado                17
..                              ...               ...
95                Rainey @ River St                87
96                 Zilker Park West                11
97         ACC - West & 12th Street                17
98                Rainey @ River St                87
99          Toomey Rd @ South Lamar                 0

[100 rows x 2 columns]

To calculate trips over an hour

In [13]:
%%bigquery --project tobahodataviz

with t as (
SELECT start_station_name AS Trip, duration_minutes as DurationMin
FROM bigquery-public-data.austin_bikeshare.bikeshare_trips
)

SELECT COUNT(*) AS TripsOverHour
FROM t
WHERE DurationMin > 60

   TripsOverHour
0         123789

To calculate round trips

In [16]:
%%bigquery --project tobahodataviz

with t as (
  SELECT start_station_name AS Trip, start_station_name AS Startingname, end_station_name AS Endingname
  FROM bigquery-public-data.austin_bikeshare.bikeshare_trips
)

SELECT COUNT(*) AS RoundTrips
FROM t

   RoundTrips
0     1424786

This was smooth! Constant practice makes it easier.